@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  overflow: hidden;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
#header {
  height: 10vh;
  background-color: #212329;
  color: #747482;
}
#line-header-container {
  display: flex;
  justify-content: center;
}
#header::after {
  display: block;
  content: '';
  width: 90%;
  height: 2px;
  background-color: #747482;
  margin: 0 auto;
}
#header-items {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}
#search-bar {
  position: relative;
  width: min-content;
}
#search-input {
  width: 300px;
  height: 40px;
  border: 2px solid #747482;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 60px;
  color: #747482;
  font-size: 18px;
}
#search-input:focus {
  outline: none;
}
#search-logo {
  position: absolute;
  left: 22px;
  top: 12px;
  color: #747482;
}
#user-items {
  display: flex;
  align-items: center;
}
#user-items span {
  font-size: 18px;
  font-weight: 600;
  padding: 0px 10px;
}
.user-icon {
  height: 22px;
  width: 30px;
}