* {
  margin: 0;
  overflow: hidden;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
#lateral-menu {
  display: flex;
  width: 280px;
  height: 100vh;
  background-color: #1A1C22; 
}
#menu-logo {
  width: min-content;
  height: min-content;
}
#content-container {
  background-color: #212329;
  color: white;
  width: 100%;
  overflow: scroll;
}
#all-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: max-content;
}
.movie-container {
  border: solid black;
  border-radius: 10px;
  max-width: 240px;
  padding: 10px 20px;
  margin: 50px 1%;
}
.movie-poster {
  width: 240px;
}